body{
    background-color: #181828; 
}
.w3-top{
    visibility: visible;
}
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
  
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
      color: #57b846;
  }
  
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    color: white;
    font-weight: bold;
    text-align: center;
}
th
{
    color: white;
    font-weight: bold;
}
td
{
    color: white;
}

.date
{
    font-style: italic;
}
.container
{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#kolo
{
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    padding: 10px;
    color: white;
    background-color: rgb(205, 33, 42);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#kolo:hover
{
    width: 240px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"] {
    background:#435074;
    height:50px;
    line-height:50px;
    width:100%;
    border:none;
    outline:none;
    cursor:pointer;
    color:#fff;
    font-size:1.2em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }
   input[type="submit"]:hover, .form_wrapper input[type="submit"]:focus {
    background:#5d9b9b;
  }
 

.r 
{
    background-color: none;
    color: rgb(255, 239, 239);
    font-size: 20px;
}
.r:hover
{
    color:rgb(241, 234, 234);
    font-size: 25px;
}
@media screen and (max-width: 650px){
    .table{
     margin-left: auto;
     margin-right: auto;
     width: 100%;
    }
    .hide{
        display: none;
    }
    .container{
        margin-top: 15%;
        padding: 20px;
    }

 }