<link rel="stylesheet" href="assets/css/about.css">

<!-- <img src="assets/img/evrotip.jpg" alt="" width="100%"> -->
<br><br>
<h1 class="naslov py-1 mx-2">За Нас</h1>
        <!-- <div class="underline1"></div> -->
        <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus">Евротип спортските обложувалници се прва битолска компанија 
                    која се занимава со приредување на игри на среќа – спортско обложување. 
                    Првата локација за остварување на нашата дејност е во Битола. 
                    Комапнијата се појавува на пазарот под овој бренд во 2015 година и 
                    за многу краткот рок отвара 50 подружници низ целата територија на РМ, 
                    од кои најголемиот дел се наоѓаат во Битола. Од 2015 до 2021 отворени се 
                    68 нови локации и растот продолжува понатаму.
                    Евротип како опшествена-одговорна компанија се труди секојдневно 
                    да даде придонес кон граѓаните кои имаат потреба од помош. 
                    Често се организираат крводарителски акции, се инвестира во 
                    инфраструктурата на училишта, болници и се поддржуваат останати проекти од интерес на заедницата.
                    Она што нудиме е редовна исплата на плати, бонуси, регрес за годишен одмор, летен и зимски одмор,
                    усовшување на вработените, работа во одлични услови.
                    Ние нудиме напредок и успех во работата!
                    Биди дел од нашиот Тим !</p> <br>
            </div>
        </div>     
    </div>
    <br>
    <div>
        <h1 class="naslov">Историјат</h1>
        <!-- <div class="underline1"></div> -->
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus"> Евротип спортските обложувалници се прва битолска компанија која се занимава со 
                    приредување на игри на среќа – спортско обложување. 
                    Првата локација за остварување на нашата дејност е во Битола. 
                    Комапнијата се појавува на пазарот под овој бренд во 2015 година и 
                    за многу краткот рок отвара 50 подружници низ целата територија на РМ, 
                    од кои најголемиот дел се наоѓаат во Битола.
                    Нашата интернет страница ibet.evrotip.mk содржи целокупна понуда за обложување, 
                    специјали, брзи пари, следење на резултатите во живо и додаток кој излегува секој ден. 
                    Интернет страница бележи одлична посетеност, постојано се ажурира и направен е нејзин целосен редизајн во 2016 година.
                </p>               
            </div>
        </div>
    </div>
    <br>
    <div>
        <h1 class="naslov">Основни податоци за компанијата</h1>
        <!-- <div class="underline1"></div> -->
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus">
                    Назив:Друштво за производство, трговија и услуги КЛУБ СПОРТ 77 увоз-извоз ДОО Битола. <br>
                    Седиште: Ул. Даме Груев Бр.70 Битола. <br>
                    Матичен број: 6462278. <br>
                    Телефон за контакт: +38978370494. <br>
                    Даночен број: 4002009511722. <br>
                    Емаил адреса: support@evrotip.mk. <br>
                </p>               
            </div>
        </div>
    </div>
    <br>
    <div>
        <h1 class="naslov">Вашите пари кај нас вредат повеќе</h1>
        <!-- <div class="underline1"></div> -->
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus">
                    Нашата доверба и сигурност со клиентите ја градиме преку редовна исплата на нивната добивка.
                    Нашата компанија ја зголемува својата понуда со тоа што постојано воведува нови игри за своите клиенти, 
                    нуди најдобри коефициенти, бонуси за играчите и ги следи најновите светски трендови во областа на спортското обложување.
                </p>               
            </div>
        </div>
    </div>
    <br>

    <div>
        <h1 class="naslov">Добитни сте и кога не сте добитни</h1>
        <!-- <div class="underline1"></div> -->
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus">
                    
                    Основна цел на работната политика на Евротип спортските обложувалници е 
                    воспоставување и подигнување на стандардите во областа на спортското обложување во Македонија. 
                    Како спортски обложувалници ние ги негуваме вредностите утврдени во нашата мисија, 
                    се трудиме на нашите клиенти да им понудиме врвни услуги и истите да бидат навремено и квалитетно извршени.
               
                </p>               
            </div>
        </div>
    </div>
    <br>

    <div>
        <h1 class="naslov">Вработување </h1>
        <!-- <div class="underline1"></div> -->
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="aboutus">
                    
                    Нашите вработени се нашето најголемо богатство. 
                    Евротип спортските обложувалници имаат стручен, 
                    обучен и посветен тим од сите дејности. 
                    Вработените работат тимски и мотивирано. 
                    Како компанија, ние ги цениме нашите вработени, 
                    се грижиме и вложуваме во нив со цел за нивно унапредување.
                    Со отворањето на нови работни места им овозможуваме на 
                    младите и образовани кадри своето место да го најдат во нашата компанија, 
                    како една од најдобрите компании во областа на спортското обложување.
                </p>               
            </div>
        </div>
    </div>
    <br>
<!-- <i class="fa fa-caret-right"></i> -->
    <br><br>

    <!-- <div class="dc container sm-3">
        <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fkariera.mk%252Fcompany%252FDsc4CKSKmEussabkcMNXkw%252Fevrotip-sportski-oblozhuvalnici%26t%3D%25D0%2595%25D0%2592%25D0%25A0%25D0%259E%25D0%25A2%25D0%2598%25D0%259F%2B-%2B%25D1%2581%25D0%25BF%25D0%25BE%25D1%2580%25D1%2582%25D1%2581%25D0%25BA%25D0%25B8%2B%25D0%25BE%25D0%25B1%25D0%25BB%25D0%25BE%25D0%25B6%25D1%2583%25D0%25B2%25D0%25B0%25D0%25BB%25D0%25BD%25D0%25B8%25D1%2586%25D0%25B8&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=en_US"><i class="ic fa fa-facebook-square" style="font-size:36px"></i></a>
        <a href="https://twitter.com/intent/tweet?source=https://kariera.mk/company/Dsc4CKSKmEussabkcMNXkw/evrotip-sportski-oblozhuvalnici&text=%D0%95%D0%92%D0%A0%D0%9E%D0%A2%D0%98%D0%9F%20-%20%D1%81%D0%BF%D0%BE%D1%80%D1%82%D1%81%D0%BA%D0%B8%20%D0%BE%D0%B1%D0%BB%D0%BE%D0%B6%D1%83%D0%B2%D0%B0%D0%BB%D0%BD%D0%B8%D1%86%D0%B8:%20https://kariera.mk/company/Dsc4CKSKmEussabkcMNXkw/evrotip-sportski-oblozhuvalnici"><i class="ic fa fa-twitter-square" style="font-size:36px"></i></a>
       <a href="#"><i class="ic fa fa-envelope" style="font-size:36px"></i></a> 
    </div> -->

    <div>
        <h1 class="naslov">Нашата Локација</h1>
        <!-- <div class="underline1"></div> <br> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.8846966955093!2d21.334189615414658!3d41.0277784792988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135724fcf23f1e51%3A0x7504a2666e2134c8!2sEvrotip!5e0!3m2!1sen!2smk!4v1647347901891!5m2!1sen!2smk" class="responsive" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    
    <!-- <button  class="myBtn" onclick="topFunction()" title="Go to top">Top</button> -->

<br>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SportskiOblozuvalniciEvrotip" role="button"
              ><i class="fa fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://z-p3.www.instagram.com/evrotip/?hl=en" role="button"
              ><i class="fa fa-instagram"></i
            ></a>
          </section>
          
        </div>
      
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <b>© Евротип | Спортски обложувалници 2022</b>
        </div>
        
      </footer>