<link rel="stylesheet" href="assets/css/fudbal.css">
    
<div class="container">
    <h1 class="ftb"><b>ФУДБАЛ</b> <i class="fa fa-soccer-ball-o" style="font-size:36px"></i></h1><br>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/img/Levandovski.jpg" width="500" alt="" class="sliki">
            <h6 class="subject"><i><b>Левандовски добива нов договор од Баерн Минхен</b></i></h6>
            <a href="https://blog.evrotip.mk/blog2/%d0%b8%d0%bd%d1%82%d0%b5%d1%80-%d1%9c%d0%b5-%d1%98%d0%b0-%d0%b7%d0%b0%d1%81%d0%b8%d0%bb%d1%83%d0%b2%d0%b0-%d0%be%d0%b4%d0%b1%d1%80%d0%b0%d0%bd%d0%b0%d1%82%d0%b0-%d1%81%d0%be-%d0%b1%d1%80%d0%b5%d0%bc/"><button class="btn btn-outline-danger"> Повеќе </button></a> 
        </div>
        <div class="col-sm-6">
            <img src="assets/img/anelka.jpg" width="500" alt="" class="sliki">
            <h6 class="subject"><i><b>Анелка: Кариерите на Меси и Роналдо се завршени</b></i></h6>
            <a href="https://blog.evrotip.mk/blog2/%d0%bc%d0%b5%d1%81%d0%b8-%d0%bf%d0%be%d1%81%d0%b0%d0%ba%d1%83%d0%b2%d0%b0-%d0%b2%d1%80%d0%b0%d1%9c%d0%b0%d1%9a%d0%b5-%d0%b2%d0%be-%d0%b1%d0%b0%d1%80%d1%81%d0%b5%d0%bb%d0%be%d0%bd%d0%b0/"><button class="btn btn-outline-danger"> Повеќе </button></a> 
            <br><br>
        </div>
        
        <div class="col-sm-6">
            <a href=""><img src="assets/img/fik.jpg" width="500" alt="" class="sliki"></a>
            <h6 class="subject"><i><b>Одлични вести за Лидс Јунајтед</b></i></h6>
            <a href="https://blog.evrotip.mk/blog2/%d0%b0%d1%80%d1%81%d0%b5%d0%bd%d0%b0%d0%bb-%d0%b3%d0%be-%d0%ba%d1%80%d0%b0%d0%b4%d0%b5-%d0%ba%d1%83%d1%82%d0%b8%d1%9a%d0%be-%d0%be%d0%b4-%d0%b0%d1%81%d1%82%d0%be%d0%bd-%d0%b2%d0%b8%d0%bb%d0%b0/"><button class="btn btn-outline-danger"> Повеќе </button></a>
        </div>
        <div class="col-sm-6">
            <img src="assets/img/mancini.jpg" width="510" alt="" class="sliki">
            <h6 class="subject"><i><b>Манчини ги отвори картите за дуелот против Македонија</b></i></h6>
            <a href="https://blog.evrotip.mk/blog2/%d0%b1%d1%80%d1%83%d0%bd%d0%be-%d1%84%d0%b5%d1%80%d0%bd%d0%b0%d0%bd%d0%b4%d0%b5%d1%88-%d0%bf%d0%be%d0%b7%d0%b8%d1%82%d0%b8%d0%b2%d0%b5%d0%bd-%d0%bd%d0%b0-%d0%ba%d0%be%d0%b2%d0%b8%d0%b4-19-%d0%bd/"><button class="btn btn-outline-danger"> Повеќе </button></a>
        </div>
</div>
<br><br>
<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#!fudbal">1</a>
    <a class="active"  href="#!fudbal2">2</a>
    <a href="#!fudbal3">3</a>
    <a href="#">&raquo;</a>
  </div>
  <button  class="myBtn" onclick="topFunction()" title="Go to top">Top</button>

<br><br><br>