<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<style>
  nav{
    visibility: hidden;
}
</style>
<div class="one"></div>
<div class="two"></div>
<div class="back">
  <div class="button">
    <div class="top-bar"></div>
    <div class="bot-bar"></div>
    <div class="left-bar"></div>
    <div class="right-bar"></div>
   <i>Добредојдовте</i>
   <br><br>
   <div ng-controller="RedirectURLCtrl">
    <a href="#!about" ng-click="RedirectToURL()"><button class="btn btn-outline-dark" type="button">Кон почетна -></button></a>
    </div>
   
  </div>
 

<script>
    jQuery(document).ready(function(){
  $('.button').click(function(){
    $('.one').addClass('oneani');
    $('.two').addClass('twoani');
  });
})
  </script>


    