<link rel="stylesheet" href="assets/css/promocii.css">

<div class="container">
    <div class="r row">
        <div class="col-sm-2">
           <img src="assets/img/brzipari.jpg" alt="" width="80%">
        </div>
        <div class="col-sm-6">
            <h3>БРЗИ ПАРИ</h3>
            <p>
               “Брзи Пари” е игра во која играчот може да го прогнозира исходот на натпреварот во првите 15 или 30 минути. Играта “Брзи Пари” важи само…
            </p>
            <a href="https://blog.evrotip.mk/blog2/%d0%b1%d1%80%d0%b7%d0%b8-%d0%bf%d0%b0%d1%80%d0%b8/"><button type="button" class="btn btn-outline-success"><b>Повеќе</b></button></a>
        </div>
    </div>
</div>
<br>

<div class="container">
   <div class="r row">
       <div class="col-sm-2">
          <img src="assets/img/cashout.jpg" alt="" width="80%">
       </div>
       <div class="col-sm-6">
           <h3>CASHOUT</h3>
           <p>
               Cashout е опција која им дава можност на клиентите за предвремена исплата на тикетите. Cashout опцијата може да биде достапна за сите видови на тикети…
           </p>
           <a href="https://blog.evrotip.mk/blog2/cashout/"><button type="button" class="btn btn-outline-success"><b>Повеќе</b></button></a>
       </div>
   </div>
</div>
<br>
<div class="container">
   <div class="r row">
       <div class="col-sm-2">
          <img src="assets/img/bonus.jpg" alt="" width="80%">
       </div>
       <div class="col-sm-6">
           <h3>ЕВРО БОНУС ДО 467%</h3>
           <p>
               Вашиот тикет вреди многу повеќе.Уплатете го вашиот тикет со ЕвроКлубКартичката и добијте бонус во зависност од натпреварите. Бонусот важи за тикети кои содржат минимум 7…
           </p>
           <a href="https://blog.evrotip.mk/blog2/%d0%b5%d0%b2%d1%80%d0%be-%d0%b1%d0%be%d0%bd%d1%83%d1%81-%d0%b4%d0%be-467/"><button type="button" class="btn btn-outline-success"><b>Повеќе</b></button></a>
       </div>
   </div>
</div>
<br>
<div class="container">
  <div class="r row">
      <div class="col-sm-2">
         <img src="assets/img/dobitni.png" alt="" width="100%">
      </div>
      <div class="col-sm-6">
          <h3>ДОБИТНИ СТЕ И КОГА НЕ СТЕ ДОБИТНИ</h3>
          <p>
            Имено, за тикет со промашен еден натпревар, а погоден коефициент поголем од 25, Евротип ја враќа уплатата. Во зависност од тоа колку имате погоден коефициент…          </p>
          <a href="https://blog.evrotip.mk/blog2/%d0%b4%d0%be%d0%b1%d0%b8%d1%82%d0%bd%d0%b8-%d1%81%d1%82%d0%b5-%d0%b8-%d0%ba%d0%be%d0%b3%d0%b0-%d0%bd%d0%b5-%d1%81%d1%82%d0%b5-%d0%b4%d0%be%d0%b1%d0%b8%d1%82%d0%bd%d0%b8/"><button type="button" class="btn btn-outline-success"><b>Повеќе</b></button></a>
      </div>
  </div>
</div>
<br>
<div class="container">
  <div class="r row">
      <div class="col-sm-2">
         <img src="assets/img/maxisplata.jpg" alt="" width="90%">
      </div>
      <div class="col-sm-6">
          <h3>МАКСИМАЛНА ИСПЛАТА</h3>
          <p>
            Имено, за тикет со промашен еден натпревар, а погоден коефициент поголем од 25, Евротип ја враќа уплатата. Во зависност од тоа колку имате погоден коефициент…          </p>
          <a href=https://blog.evrotip.mk/blog2/%d0%bc%d0%b0%d0%ba%d1%81%d0%b8%d0%bc%d0%b0%d0%bb%d0%bd%d0%b0-%d0%b8%d1%81%d0%bf%d0%bb%d0%b0%d1%82%d0%b0><button type="button" class="btn btn-outline-success"><b>Повеќе</b></button></a>
      </div>
  </div>
</div>

   <!-- <button  class="myBtn" onclick="topFunction()" title="Go to top">Top</button> -->

   <br>
   <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/SportskiOblozuvalniciEvrotip" role="button"
          ><i class="fa fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://z-p3.www.instagram.com/evrotip/?hl=en" role="button"
          ><i class="fa fa-instagram"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <b>© Евротип | Спортски обложувалници 2022</b>
    </div>
  </footer>
   